<ion-view title="Lista de productos" id="page2">
    <ion-content padding="true" class="has-header">
        <button id="listaDeProductos-button1" class=" button button-positive  button-block ">Tap me!</button>
        <ion-list id="listaDeProductos-list2">
            <ion-item id="listaDeProductos-list-item4">Item 1</ion-item>
            <ion-item id="listaDeProductos-list-item5">Item 2</ion-item>
            <ion-item id="listaDeProductos-list-item6">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>