body{
	margin: 20px auto;
	width: 300px;
}
div{
	margin: 10px auto;
}
.angularjs{
	background: red;
}

.container2{
	text-align: center;
	border: solid 2px red;

}

.container3{
	border: solid 2px blue; 
}