<ion-view title="Cambiar contraseña" id="page5">
    <ion-content padding="true" class="has-header">
        <form id="cambiarContraseA-form2" class="list ">
            <label class="item item-input " id="cambiarContraseA-input3">
                <span class="input-label">Usuario</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="cambiarContraseA-input7">
                <span class="input-label">Contraseña</span>
                <input type="password" placeholder="">
            </label>
            <label class="item item-input " id="cambiarContraseA-input4">
                <span class="input-label">Confirmar contraseña</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <a ui-sref="contraseACambiada" id="cambiarContraseA-button5" class=" button button-positive  button-block ">Cambiar</a>
    </ion-content>
</ion-view>