<ion-view title="Editar producto" id="page15">
    <ion-content padding="true" class="has-header">
        <form id="editarProducto-form5" class="list ">
            <label class="item item-input " id="editarProducto-input10">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="editarProducto-input11">
                <span class="input-label">Tipo de producto</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="productoEditado" id="editarProducto-button15" class=" button button-positive  button-block ">Cambiar</a>
    </ion-content>
</ion-view>