<ion-view title="Editar perfil" id="page10">
    <ion-content padding="true" class="has-header">
        <form id="editarPerfil-form4" class="list ">
            <label class="item item-input " id="editarPerfil-input8">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="editarPerfil-input9">
                <span class="input-label">Contraseña</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <a ui-sref="menu.perfilEditado" id="editarPerfil-button11" class=" button button-positive  button-block ">Cambiar</a>
    </ion-content>
</ion-view>