<ion-view title="Registrarme" id="page8">
    <ion-content padding="true" class="has-header">
        <form id="registrarme-form3" class="list ">
            <ion-list id="registrarme-list3">
                <label class="item item-input " id="registrarme-input5">
                    <span class="input-label">Usuario</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="registrarme-input6">
                    <span class="input-label">Contraseña</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="usuarioRegistrado" id="registrarme-button6" class=" button button-stable  button-block ">Registrar</a>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="registrarme-button7" class=" button button-positive  button-block button-clear ">Terminos y condiciones</a>
        </form>
    </ion-content>
</ion-view>