<label>
    My name is:
</label>

<input type="text" placeholder="Your name" [(ngModel)]="my_firstname">

<h1>{{ my_firstname }}</h1>

<input type="text" placeholder="Your name" [(ngModel)]="my_lastname">

<h1>{{ my_lastname }}</h1>
<input type="number" placeholder="Your name" [(ngModel)]="my_phone">

<h1>{{ my_phone }}</h1>
<input type="text" placeholder="Your name" [(ngModel)]="my_password">

<h1>{{ my_password }}</h1>

<input type="text" placeholder="Your name" [(ngModel)]="my_email">

<h1>{{ my_email }}</h1>