<ion-view title="Bitmoji" id="page13">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="bitmoji-list-item-container4">
            <p id="bitmoji-markdown4" style="margin-top:0px;color:#000000;text-align:justify;">Bitmoji is your own personal emoji. Create an expressive cartoon avatar. Choose from a huge library of stickers – all featuring YOU.Use Bitmoji in Snapchat, iMessage and wherever else you chat.Using Bitmoji in Snapchat unlocks friendmoji –
                2-person bitmojis featuring you and your friends!"</p>
        </div>
    </ion-content>
</ion-view>