<ion-view title="Educación" id="page6">
    <ion-content padding="true" class="has-header">
        <ion-list id="educaciN-list7">
            <ion-item class="item-thumbnail-left  " id="educaciN-list-item22" ui-sref="tabsController.iTunesU">
                <img src="img/YldMCrLXSJSb9RAR4OQG_itunes U_75x75bb-85.png">
                <h2>iTunes U</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="educaciN-list-item21" ui-sref="tabsController.safeClassroomComunication">
                <img src="img/oRGz2s4ARiuyh8o7sE9e_safeclassroomcomunication_75x75bb-85.png">
                <h2>Safe classroom comunication</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>