<ion-view title="Facebook" id="page21">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="facebook-list-item-container13">
            <p id="facebook-markdown13" style="margin-top:0px;color:#000000;text-align:justify;">Keeping up with friends is faster than ever. See what friends are up to Share updates, photos and video. Get notified when friends like and comment on your posts Watch and interact with live video. Play games and use your favorite apps. Read
                our Data Use Policy, Terms and other important info in the legal section of our App Store description. Continued use of GPS running in the background can dramatically decrease battery life. Facebook doesn't run GPS in the background unless
                you give us permission by turning on optional features that require this.</p>
        </div>
    </ion-content>
</ion-view>