<ion-view title="Fit the fat 2" id="page25">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="fitTheFat2-list-item-container17">
            <p id="fitTheFat2-markdown17" style="margin-top:0px;color:#000000;text-align:justify;">Our friend loves to eat. Exercise? Eh…not so much. And as you can see he’s a bit, well…overweight. Actually, he’s 507 lbs.Alright, so he’s pretty fat. Did we mention he loves to eat?The thing is – he wants to get fit! To do that he needs your
                help.So be prepared to:• Get your friend out of bed, and do some physical activities.• Get him running on the treadmill, lifting weights, or maybe jumping rope and boxing.• Make sure he gets enough food after the workout, and a good night's
                sleep to recover his stamina.• And please – don't forget to have fun! Other features include:• Exercise tracking with HealthKit, so if you exercise in real life, your friend will lose weight in the game as well.• Funny costumes for your
                friend, such as a basketball player, clown, soldier and more.• Stunning graphics that make playing the game fun each time you pick up your phone.• Share your friend's best moments and progress as he keeps losing weight!Dare to take the
                challenge? Develop that perfect exercise diet that will really help your friend shed the pounds.</p>
        </div>
    </ion-content>
</ion-view>