<ion-view title="Google maps" id="page22">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="googleMaps-list-item-container14">
            <p id="googleMaps-markdown14" style="margin-top:0px;color:#000000;text-align:justify;">Google Maps makes navigating your world faster and easier. Find the best places in town and the information you need to get there. Get there faster with real-time updates • Beat traffic with real-time ETAs and traffic conditions • Catch your
                bus, train, or ride-share with real-time transit info • Save time with automatic re-routing based on live traffic, incidents, and road closures• Don't miss a turn or exit with lane guidance • Find pit stops along your route like gas stations
                and coffee spots. Discover places and explore like a local • Find top-rated restaurants and local businesses, wherever you are • Decide on the best places to go with reviews, ratings, and pictures of foods and interiors • Plan your visit
                and see menus, make reservations, and find when places are typically busiest • Help others discover the best places by sharing reviews, photos and more • Save places you want to or often visit, and quickly find them later from any computer
                or device Experience the Google Maps difference • Offline maps to search and navigate without an internet connection • Street View and indoor imagery for restaurants, shops, museums and more • Indoor maps to quickly find your way inside
                big places like airports, malls and stadiums • Comprehensive, accurate maps in 220 countries and territories • Transit schedules and maps for over 15,000 cities • Detailed business information on over 100 million places\n\n* Some features
                not available in all countries</p>
        </div>
    </ion-content>
</ion-view>