<ion-view title="Go Radar" id="page23">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="goRadar-list-item-container15">
            <p id="goRadar-markdown15" style="margin-top:0px;color:#000000;text-align:justify;">Go Radar is an assistant app for Pokémon GO that tracks all Pokemon around the world in real time. Need to catch rare Pokemon? Be notified the second they spawn near you! We track over 140,000 currently spawned Pokemon at all times using crowdsourced
                data from users. No login is necessary and it's completely free! Unlike other radars, no scanning is required. We track the most Pokemon and notify you faster than other radar apps. Simply open the app and begin catching rare Pokemon.In
                addition to tracking Pokemon, Go Radar gives you walking and driving directions to spawned Pokemon using Apple Maps. Never miss another rare Pokemon.--DISCLAMER--The data used in Go Radar is all user submitted and completely safe. We never
                interact with Niantic servers. We are not associated, affiliated, sponsored, or endorsed by Niantic or the Pokémon Company. We do not hold the rights to any copyrighted material.</p>
        </div>
    </ion-content>
</ion-view>