<ion-view title="Iniciar sesión" id="page33">
    <ion-content padding="true" class="has-header">
        <form id="iniciarSesiN-form2" class="list ">
            <label class="item item-input " id="iniciarSesiN-input2">
                <span class="input-label">Usuario</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="iniciarSesiN-input3">
                <span class="input-label">Contraseña</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.fotoYVideo" id="iniciarSesiN-button4" class=" button button-positive  button-block ">Log in</a>
    </ion-content>
</ion-view>