<ion-view title="Redes Sociales" id="page3">
    <ion-content padding="true" class="has-header">
        <ion-list id="redesSociales-list4">
            <ion-item class="item-thumbnail-left  " id="redesSociales-list-item9" ui-sref="tabsController.facebook">
                <img src="img/Yz7OTYEoToa0wlegtXqD_facebook_53x53bb-85.png">
                <h2>Facebook</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="redesSociales-list-item13" ui-sref="tabsController.messeger">
                <img src="img/8z0unQISS629oct5tkAz_messenger_53x53bb-85.png">
                <h2>Messenger</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>