<ion-view title="Spotify" id="page30">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="spotify-list-item-container22">
            <p id="spotify-markdown22" style="margin-top:0px;color:#000000;text-align:justify;">Spotify is the best way to listen to music on mobile or tablet. Search for any track, artist or album and listen for free. Make and share playlists. Build your biggest, best ever music collection.Get inspired with personal recommendations,
                and readymade playlists for just about everything.Listen absolutely free with ads, or get Spotify Premium.Free on mobile• Play any artist, album, or playlist in shuffle mode.Free on tablet• Play any song, any time.Premium features• Play
                any song, any time on any device: mobile, tablet or computer.• Enjoy ad-free music. • Listen offline. • Get better sound quality.Please note: This app features Nielsen’s audience measurement software which will allow you to contribute
                to market research, such as Nielsen’s Audio Measurement. If you don't want to participate, you can opt-out within the app settings. To learn more about our digital audience measurement products and your choices in regard to them, please
                visit http://www.nielsen.com/digitalprivacy for more information.Privacy policy: http://www.spotify.com/legal/privacy-policy/ Terms of use: https://www.spotify.com/legal/end-user-agreement/Love Spotify? Like us on Facebook: http://www.facebook.com/spotify
                Follow us on Twitter: http://twitter.com/spotify</p>
        </div>
    </ion-content>
</ion-view>