<ion-view title="Youtube" id="page19">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="youtube-list-item-container11">
            <p id="youtube-markdown11" style="margin-top:0px;color:#000000;text-align:justify;">Get the official YouTube app for iPhone and iPad.See what the world is watching in music, gaming, entertainment, news and more. Explore the hottest videos on YouTube with the new trending tab. Subscribe to channels, share with friends, edit
                and upload videos, and watch on any device.With a new design, you can now have fun exploring videos you love more easily and quickly than before. Just tap an icon or swipe to switch between recommended videos, the trending tab, your subscriptions,
                and your account.You can also subscribe to your favorite channels, create playlists, edit and upload videos, check out what’s trending, express yourself with comments or shares, cast a video to your TV, and more – all from inside the app.With
                the official YouTube app you can enjoy your favorite videos, creators, and music for free.FIND VIDEOS YOU LOVE FAST Browse personal recommendations on the home tab- See the latest from the creators you follow on the subscriptions tab-
                Discover the world’s hottest videos on the trending tab- Look up videos you’ve watched and your like history on the account tab CONNECT AND SHARE- Let people know how you feel with likes, comments, or shares- Edit, add filters, add music,
                and upload your own videos all inside the app</p>
        </div>
    </ion-content>
</ion-view>