<ion-view title="Foto y video" id="page2">
    <ion-content padding="true" class="has-header">
        <ion-list id="fotoYVideo-list3">
            <ion-item class="item-thumbnail-left  " id="fotoYVideo-list-item12" ui-sref="tabsController.googlePhotos">
                <img src="img/4e3Hvcd6Rj2UXMOFaHgs_googlephotos_53x53bb-85.png">
                <h2>Google Photos</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="fotoYVideo-list-item8" ui-sref="tabsController.instagram">
                <img src="img/Onk3JjeXQvCYFG3u2wMA_instagram_53x53bb-85.png">
                <h2>Instagram</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="fotoYVideo-list-item11" ui-sref="tabsController.snapchat">
                <img src="img/JsB0ALmShuVsTnafeEc8_snapchat_53x53bb-85.png">
                <h2>Snapchat</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="fotoYVideo-list-item14" ui-sref="tabsController.youtube">
                <img src="img/05aICfY8S1ONY8DXEnH0_youtube_53x53bb-85.png">
                <h2>Youtube</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>