<ion-view title="Google Photos" id="page24">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="googlePhotos-list-item-container16">
            <p id="googlePhotos-markdown16" style="margin-top:0px;color:#000000;text-align:justify;">Google Photos is a smarter home for all your photos and videos, made for the way you take photos today.“The best photo product on Earth” – The Verge “Google Photos is your new essential picture app” – Wired“ Upload the pictures, and let Google
                Photos do the rest” – The New York Times• FREE UNLIMITED STORAGE: Back up unlimited photos and videos for free, up to 16 megapixels and 1080p HD. Access from any device and photos.google.com – your photos are safe, secure, and private
                to you.• FREE UP SPACE: Never worry about running out of space on your phone again. Photos that are safely backed up can be removed from your device’s storage in just a tap.• VISUAL SEARCH: Your photos are now searchable by the people,
                places and things in them – no tagging required.• BRING PHOTOS TO LIFE: Get automatically created movies, collages, GIFs, panoramas, and more from your photos. Or easily create them yourself.• EASY EDITING: Transform photos with a tap.
                Use simple, yet powerful, photo and video editing tools to apply filters, adjust lighting, and more.• SMART AUTOMATIC ALBUMS: Tell better stories, without the work. Automatically get a new album with just your best shots after an event
                or trip, then invite others to add their photos.• SEND PHOTOS IN SECONDS: Don’t waste data texting and emailing photos. Instantly share up to 1,500 photos with anyone, just by sending a link.• REDISCOVER: It’s easier than ever to relive
                your memories. Get collages of photos you took a year ago on this day – perfect for #tbt• CAST: View your photos and videos on your TV with Chromecast support.Note: Face grouping is not available in all countries.For the latest updates
                from the team, follow us on Twitter at @googlephotos</p>
        </div>
    </ion-content>
</ion-view>