<ion-view title="Hocus" id="page31">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="hocus-list-item-container23">
            <p id="hocus-markdown23" style="margin-top:0px;color:#000000;text-align:justify;">App Store Best of 2015 in Russia level editor is for hocus lovers. Thank you for your supports New, polished, mind-bending, minimal puzzle game with dozens of levels and extra-ordinary design Features: Create/share your own levels Beautifully
                crafted minimal puzzle game 85 mind bending levels (new levels coming...)Exclusive for iOS. Optimized for iOS and human brains Follow us:- https://www.facebook.com/gamebrainstudio</p>
        </div>
    </ion-content>
</ion-view>