<ion-view title="Juegos" id="page4">
    <ion-content padding="true" class="has-header">
        <ion-list id="juegos-list5">
            <ion-item class="item-thumbnail-left  " id="juegos-list-item18" ui-sref="tabsController.color6">
                <img src="img/xEy5gyUPR5CcldgqvAbV_color6_53x53bb-85.png">
                <h2>Color 6</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="juegos-list-item17" ui-sref="tabsController.fitTheFat2">
                <img src="img/kvlJLcfMQ5SGQG2xRDHI_fitthefat2_53x53bb-85.png">
                <h2>Fit the fat 2</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="juegos-list-item15" ui-sref="tabsController.hocus">
                <img src="img/yhArlgaTk2Jf3aD3RI7w_hocus_53x53bb-85.png">
                <h2>Hocus</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="juegos-list-item16" ui-sref="tabsController.pokemonGo">
                <img src="img/rIPIg6kfTPCi9iSEU0Sb_pokemon_53x53bb-85.png">
                <h2>Pokemon Go</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>