<ion-view title="Música" id="page5">
    <ion-content padding="true" class="has-header">
        <ion-list id="mSica-list6">
            <ion-item class="item-thumbnail-left  " id="mSica-list-item19" ui-sref="tabsController.spotify">
                <img src="img/1SUMgBzDQaqARYQF5YbN_spotify_75x75bb-85.png">
                <h2>Spotify</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="mSica-list-item20" ui-sref="tabsController.pandora">
                <img src="img/2IU1d5ToGAz2sMSsXtyA_pandora_75x75bb-85.png">
                <h2>Pandora</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>