<ion-view title="Pandora" id="page29">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="pandora-list-item-container21">
            <p id="pandora-markdown21" style="margin-top:0px;color:#000000;text-align:justify;">Pandora will change the way you discover and listen to music. Powered by the Music Genome Project®, the most comprehensive music analysis ever undertaken, Pandora gives you personalized radio that plays what you love and continually evolves
                with your tastes.• Create personalized stations from songs, artists, genres, or comedians• Browse hundreds of curated genre stations to find the perfect match for your mood or activity• Create an account and listen on desktop, mobile,
                TVs and home devices, or in your car• Listen ad-free by subscribing to Pandora One for only $4.99/mo.Your Pandora One subscription will automatically renew each month and your credit card will be charged through your iTunes account. You
                can turn off auto-renew at any time from your iTunes account settings. Please go to www.pandora.com/privacy and pandora.com/legal_apple for more information.Note: Pandora may use large amounts of data, and carrier data charges may apply.
                For best results, we recommend you connect your device to trusted Wi-Fi networks when available.</p>
        </div>
    </ion-content>
</ion-view>