<ion-view title="Safe classroom comunication" id="page27">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="safeClassroomComunication-list-item-container19">
            <p id="safeClassroomComunication-markdown19" style="margin-top:0px;color:#000000;text-align:justify;">Remind, formerly Remind101, is a free text messaging app that helps teachers, students, and parents communicate quickly and efficiently. By connecting school communities, Remind makes it easy for everyone to succeed together. Remind is based
                in San Francisco, CA and is used by more than 35 million people in 3 out of 4 U.S. school districts. Real-time messaging for your school, group, or just a single person. Schedule reminders ahead of time. Send text messages straight to
                any phone. Translate messages into more than 70 languages. See who's read your messages and who's missing out. Plan important activities and collect funds—on time.“Once a teacher starts to use the tool, it tends to spread through the rest
                of the school like wildfire. Domonique Roberts, a history teacher at University High School in Newark, N.J., has been using Remind to communicate better with parents. 'I have been messaging one student’s mom, telling her when he’s not
                doing homework, or if he fell asleep in class today,' Roberts says. 'She’s on top of it and his grade improved by two letter grades from the first marking period to the second, just by keeping up with her.'” – Fast Company “…Remind’s features
                have proved especially popular in low-income districts, where parent engagement is a key issue for teachers, and parents’ sometimes erratic work schedules can make it difficult to get in touch by phone.” – Buzzfeed Link 1: Remind website:
                https://www.remind.com/</p>
        </div>
    </ion-content>
</ion-view>