<ion-view title="Snapchat" id="page16">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="snapchat-list-item-container7">
            <p id="snapchat-markdown7" style="margin-top:0px;color:#000000;text-align:justify;">Life's more fun when you live in the moment :) Happy Snapping! Please note: Snapchatters can always capture or save your messages, such as by taking a screenshot or using a camera. Be mindful of what you Snap!</p>
        </div>
    </ion-content>
</ion-view>