<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-stable tabs-icon-top " id="tabsController-tabs1">
        <ion-tab title="Fotos y video Tab" icon="ion-ios-camera" href="#/page1/page2" id="tabsController-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Redes Tab" icon="ion-android-contacts" href="#/page1/page3" id="tabsController-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Juegos Tab" icon="ion-ios-game-controller-a" href="#/page1/page4" id="tabsController-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Música Tab" icon="ion-ios-musical-note" href="#/page1/page5" id="tabsController-tab4">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Educación Tab" icon="ion-ios-people" href="#/page1/page6" id="tabsController-tab5">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Deportes Tab" icon="ion-ios-tennisball" href="#/page1/page7" id="tabsController-tab6">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Compras Tab" icon="ion-android-star-half" href="#/page1/page8" id="tabsController-tab7">
            <ion-nav-view name="tab7"></ion-nav-view>
        </ion-tab>
        <ion-tab title="NavegaciónTab" icon="ion-android-navigate" href="#/page1/page9" id="tabsController-tab8">
            <ion-nav-view name="tab8"></ion-nav-view>
        </ion-tab>
        <ion-tab title="UtilidadesTab" icon="ion-android-locate" href="#/page1/page10" id="tabsController-tab9">
            <ion-nav-view name="tab9"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Taxis Tab" icon="ion-card" href="#/page1/page11" id="tabsController-tab10">
            <ion-nav-view name="tab10"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>