<ion-view title="Uber" id="page26">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="uber-list-item-container18">
            <p id="uber-markdown18" style="margin-top:0px;color:#000000;text-align:justify;">Get $10 off your first 2 Uber rides when you pay with Apple Pay. Use promo code APPLEPAY. Offer expires August 30, 2016. Get a reliable ride in minutes with the Uber app—no reservations or waiting in taxi lines. From low-cost to premium, every
                ride option feels like an upgrade to the everyday.Create your account using a credit card or PayPal, and your fare will be charged automatically at the end of your ride. You can also pay with cash in select cities. After your trip, we’ll
                email you a receipt.See if Uber is available in your city at https://www.uber.com/cities Follow us on Twitter at https://twitter.com/uber Like us on Facebook at https://www.facebook.com/uber Have a question? Check out https://help.uber.com/</p>
        </div>
    </ion-content>
</ion-view>