<ion-view title="Utilidades" id="page10">
    <ion-content padding="true" class="has-header">
        <ion-list id="utilidades-list11">
            <ion-item class="item-thumbnail-left  " id="utilidades-list-item28" ui-sref="tabsController.bitmoji">
                <img src="img/7FtyokrQRel2DZX13ck0_bitmoji_75x75bb-85.png">
                <h2>Bitmoji</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="utilidades-list-item26" ui-sref="tabsController.goRadar">
                <img src="img/flhdNyMQTjqZdKbPONJ9_goradar_75x75bb-85.png">
                <h2>Go Radar</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>